body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background-image: radial-gradient(#04aff3a1 1px, transparent 1px);
    background-size: 12px 10px;
    background-color: #f3efef00;
}

#start {
    font-size: 1.5rem;
    color: #c4ba62
}

.score {
    font-size: 2rem;
    top: 50px;
    color: #bb2020;
}

#nextBtn{
    padding: 10px 10px;
    background-color: #c4ba62;
    border-radius: 10px;
    cursor: pointer;
}

.card{
    border: 1px solid black;
    margin: 20px auto;
    max-width: 500px;
    background-color: #c4ba62;
    
}

.choice-btn{
    cursor: pointer;
    width: 80%;
    padding: 10px;
    margin: 5px 0;
    background-color: #cdf80fda;
    cursor: pointer;
    font-size: 17px
}
/* list of things that happen when you hover over the button */
.choice-btn:hover{
    background-color: #47f801;
    transform: scale(1.05); /* makes the button slightly bigger when u hover it */

}
