body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background-image: radial-gradient(#04aff3a1 1px, transparent 1px);
    background-size: 12px 10px;
    background-color: #f3efef00;
}

#start {
    font-size: 1.5rem;
    color: #c4ba62
}

.score {
    font-size: 2rem;
    top: 50px;
}

#nextBtn{
    padding: 10px 10px;
    background-color: #c4ba62;
    border-radius: 10px;
    cursor: pointer;
}

.card{
    border: 1px solid black;
    margin: 20px auto;
    max-width: 500px;
    
}