body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background-size: 12px 10px;
    background-color: #1a1a2e;
    color: #e0e0e0;
    font-size: 18px;
    zoom: 1.3; /* zooms in the page by 30% i was too lazy to do it individually,,*/

}

#start {
    font-size: 1.5rem;
    color: #e0e0e0
}

.score {
    font-size: 2rem;
    top: 50px;
    color: #bb2020;
}

#nextBtn{
    padding: 10px 10px;
    background-color: #c4ba62;
    border-radius: 10px;
    cursor: pointer;
}

.card{
    margin: 20px auto;
    max-width: 500px;
    
}

.choice-btn{
    cursor: pointer;
    width: 50%;
    height: 50px;
    padding: 10px;
    max-width: 300px;
    border-radius: 10px;
    margin: 5px 0;
    background-color: #0f3460;
    cursor: pointer;
    font-size: 20px;
    margin: 10px 0;
    font-weight: bold;
    color: #e0e0e0;
    
    
}

.title {
    font-size: 1.4rem;
    font-weight: bold;
}

#quote{
    font-size: 1.2rem;
    font-style: italic;
    background-color: #16213e;
}
/* list of things that happen when you hover over the button */
.choice-btn:hover{
    background-color: #e94560;
    transform: scale(1.05); /* makes the button slightly bigger when u hover it */

}
